/01-deploy-log-task/node_modules/
/01-deploy-log-task/deploy.log
/02-task-object/node_modules/
/03-task-aliasing/node_modules/
/nbproject/
/04-copy-multi-task/dest/
/04-copy-multi-task/node_modules/