doctype html
html
    head
        link(rel="stylesheet", href="css/app.css")

    body
        
        p watch

        include app/header.jade
        include app/content.jade
        include app/footer.jade
        
        script(src="js/app.js")